<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:render partial="JobListAssets"/>
    <f:render partial="SearchForm" arguments="{_all}"/>

    <f:if condition="{jobs}">
        <f:then>
            <f:comment>Types/Card can be rendered here instead for a card-based layout.</f:comment>
            <f:render partial="Types/Table" arguments="{objects: jobs}"/>
        </f:then>
        <f:else>
            <p>{f:translate(key: 'search.no_jobs_found')}</p>
        </f:else>
    </f:if>
</f:section>
</html>
