<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{options}">
    <div class="form-group">
        <label for="{name}">{f:translate(key: '{label}')}</label>
        <f:form.select
            options="{options}"
            sortByOptionLabel="true"
            prependOptionLabel="{f:translate(key: 'fluid.select.prependOptionLabel')}"
            prependOptionValue="0"
            optionLabelField="title"
            optionValueField="uid"
            name="{name}"
            value="{value}"/>
    </div>
</f:if>
</html>
